//it's a tower config file. every next starts with '#' and name of unit

#btower
btower.range = 200
btower.damage = 3
btower.speed = 1
btower.icon = Resource/t1.png
btower.cost = 50
btower.sell_cost = 25
btower.width = 32
btower.height = 32

#atower
atower.range = 250
atower.damage = 3
atower.speed = 2
atower.icon = Resource/t2.png
atower.cost = 150
atower.sell_cost = 70
atower.width = 32
atower.height = 32

#mtower
mtower.range = 300
mtower.damage = 5
mtower.speed = 2
mtower.icon = Resource/t3.png
mtower.cost = 500
mtower.sell_cost = 200
mtower.width = 32
mtower.height = 32


