//it's a units config file. every next starts with '#' and name of unit
#unit1
unit1.health = 5
unit1.speed = 2
unit1.damage = 1
unit1.width = 32
unit1.height = 32
unit1.icon = Resource/u1.png

#unit2
unit2.health = 20
unit2.speed = 2
unit2.damage = 1
unit2.width = 32
unit2.height = 32
unit2.icon = Resource/u2.png

#unit3

unit3.health = 100
unit3.speed = 1
unit3.damage = 2
unit3.width = 32
unit3.height = 32
unit3.icon = Resource/u3.png